@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");
.user-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    background-color: #050505;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.user-profile {
    width: min(500px, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgba(36, 36, 34, 0.13);
    padding: 10vw;
    border-radius:15px ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}


.user-avatar {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    font-size: 36px;
    font-weight: 700;
}


.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.user-profile h1 {
    margin: 25px 0 10px;
    font-size: 36px;
}


.user-profile p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    width: 300%;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.2;
    margin-top: 10px;
}
.user-page {
    font-family: inherit;
}

.user-page * {
    font-family: inherit;
}

.uid{
    background: rgba(54, 53, 53, 0.397);
    backdrop-filter: blur(15px);
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding: 10px 10px;
}